/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  /* padding: 0 20px; */
}

/* Prepferd Styles for the site */

h1,
h3 {
  color: #272727;
  font-weight: 900;
}

h1 {
  letter-spacing: -2px;
}

h1 {
  font-size: 75px;
}

h3 {
  font-size: 40px;
}

p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
}

.primary-color {
  color: #e55473;
}

.btn-primary {
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 15px 20px;
  cursor: pointer;
}

.btn-primary:hover {
  opacity: 0.92;
}

h3.title {
  color: #272727;
  text-align: center;
}

p.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin: 32px 0;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.045);
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
}

.cart {
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
}

.container,
.fixed-width {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

/* Banner */
.banner {
  background-color: rgba(229, 84, 115, 0.1);
  padding-top: 30px;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner-text {
  padding-top: 100px;
  padding-bottom: 100px;
}

.banner-text p {
  max-width: 636px;
}

.banner-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.banner-img img {
  max-width: 580px;
}

main section {
  margin-top: 178px;
}

section p.description {
  text-align: center;
  max-width: 594px;
  margin-left: auto;
  margin-right: auto;
}

/* section.featured-flower{

} */

.card-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 48px;
}

.card {
  width: 33.33%;
}

.card-bg {
  border-radius: 50% 50% 0 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding-top: 60px;
  justify-content: center;
  height: 390px;
}

.card-bg img {
  width: 60%;
}
.card h4 {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}

section.hot-deals {
  background-color: rgba(229, 84, 115, 0.05);
  padding: 100px 0;
}

.hot-deals .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.deals-text {
  display: flex;
  flex-direction: column;
}

.deals-text .description {
  max-width: 594px;
}

.deals-text .btn-primary {
  align-self: center;
}

.deals-img img {
  width: 318px;
}

.img-container {
  display: flex;
  gap: 24px;
}

.img-container div {
  width: 25%;
}

.img-container img {
  max-width: 100%;
}

section.subscribe {
  background: url("images/Rectangle\ 9.png");
  padding: 100px 0;
  margin-bottom: 178px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe input[type="email"] {
  border-radius: 8px;
  background: #fff;
  width: 700px;
  margin-right: 10px;
  border: 2px solid #efefef;
  border-radius: 8px;
  padding: 20px;
}

.footer {
  background-color: #000;
  padding: 100px 0;
}

.footer p {
  max-width: 594px;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 24px;
  margin-bottom: 32px;
  line-height: 20px;
}

.copyright small {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  display: block;
  margin: 0 auto;
}
